<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Employee Register</title>
</head>
<body>
<div class="container">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Employee Register</h1>
            <p class="lead font-italic">Python Django Project For Curd Performance</p>
            <hr class="my-4">
<!--            <p>It use Utility classes for typography and spacing content out and within large container.</p>-->
<!--            <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>-->
            {% block content %}
            {% endblock content %}
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>