{% extends "employee_register/base.html" %}
{%

{% block content %}
<form action="#" method="post" autocomplete="off">
    {% csrf_token %}
    {{form}}
    <br><br>
    <div class="row">
        <div class="col-md-6">
            <button type="submit" class="btn btn-success btn-block btn-lg">Submit</button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'employee_view' %}" class="btn btn-secondary btn-block btn-lg">Back-List</a>
        </div>
    </div>

{% endblock content %}